In [1]:
import pandas as pd

data = pd.read_csv("C:/Users/Antoi/Documents/01_OC_Data/01_01_Education_statistics/EdStatsCountry.csv")

data.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [91]:
data.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')

In [92]:
for col in data.columns :
    print(col)

Country Code
Short Name
Table Name
Long Name
2-alpha code
Currency Unit
Special Notes
Region
Income Group
WB-2 code
National accounts base year
National accounts reference year
SNA price valuation
Lending category
Other groups
System of National Accounts
Alternative conversion factor
PPP survey year
Balance of Payments Manual in use
External debt Reporting status
System of trade
Government Accounting concept
IMF data dissemination standard
Latest population census
Latest household survey
Source of most recent Income and expenditure data
Vital registration complete
Latest agricultural census
Latest industrial data
Latest trade data
Latest water withdrawal data
Unnamed: 31

In [93]:
for ii in range(0, len(data.columns)) : 
    print("___________________________")
    print(data.columns[ii])
    print(data.iloc[:,ii])

___________________________
Country Code
0      ABW
1      AFG
2      AGO
3      ALB
4      AND
      ...
236    XKX
237    YEM
238    ZAF
239    ZMB
240    ZWE
Name: Country Code, Length: 241, dtype: object
___________________________
Short Name
0             Aruba
1       Afghanistan
2            Angola
3           Albania
4           Andorra
           ...
236          Kosovo
237           Yemen
238    South Africa
239          Zambia
240        Zimbabwe
Name: Short Name, Length: 241, dtype: object
___________________________
Table Name
0             Aruba
1       Afghanistan
2            Angola
3           Albania
4           Andorra
           ...
236          Kosovo
237     Yemen, Rep.
238    South Africa
239          Zambia
240        Zimbabwe
Name: Table Name, Length: 241, dtype: object
___________________________
Long Name
0                             Aruba
1      Islamic State of Afghanistan
2       People's Republic of Angola
3               Republic of Albania
4           Principality of Andorra
                   ...
236              Republic of Kosovo
237               Republic of Yemen
238        Republic of South Africa
239              Republic of Zambia
240            Republic of Zimbabwe
Name: Long Name, Length: 241, dtype: object
___________________________
2-alpha code
0       AW
1       AF
2       AO
3       AL
4       AD
      ...
236    NaN
237     YE
238     ZA
239     ZM
240     ZW
Name: 2-alpha code, Length: 241, dtype: object
___________________________
Currency Unit
0           Aruban florin
1          Afghan afghani
2          Angolan kwanza
3            Albanian lek
4                    Euro
              ...
236                  Euro
237           Yemeni rial
238    South African rand
239    New Zambian kwacha
240           U.S. dollar
Name: Currency Unit, Length: 241, dtype: object
___________________________
Special Notes
0      SNA data for 2000-2011 are updated from offici...
1      Fiscal year end: March 20; reporting period fo...
2      April 2013 database update: Based on IMF data,...
3                                                    NaN
4                                                    NaN
                             ...
236    Kosovo became a World Bank member on June 29, ...
237    Based on official government statistics and In...
238    Fiscal year end: March 31; reporting period fo...
239    National accounts data have rebased to reflect...
240    Fiscal year end: June 30; reporting period for...
Name: Special Notes, Length: 241, dtype: object
___________________________
Region
0       Latin America & Caribbean
1                      South Asia
2              Sub-Saharan Africa
3           Europe & Central Asia
4           Europe & Central Asia
                  ...
236         Europe & Central Asia
237    Middle East & North Africa
238            Sub-Saharan Africa
239            Sub-Saharan Africa
240            Sub-Saharan Africa
Name: Region, Length: 241, dtype: object
___________________________
Income Group
0      High income: nonOECD
1                Low income
2       Upper middle income
3       Upper middle income
4      High income: nonOECD
               ...
236     Lower middle income
237     Lower middle income
238     Upper middle income
239     Lower middle income
240              Low income
Name: Income Group, Length: 241, dtype: object
___________________________
WB-2 code
0      AW
1      AF
2      AO
3      AL
4      AD
       ..
236    KV
237    RY
238    ZA
239    ZM
240    ZW
Name: WB-2 code, Length: 241, dtype: object
___________________________
National accounts base year
0                                                   2000
1                                                2002/03
2                                                   2002
3      Original chained constant price data are resca...
4                                                   1990
                             ...
236                                                 2008
237                                                 2007
238                                                 2005
239                                                 1994
240                                                 2009
Name: National accounts base year, Length: 241, dtype: object
___________________________
National accounts reference year
0         NaN
1         NaN
2         NaN
3      1996.0
4         NaN
        ...
236       NaN
237       NaN
238       NaN
239       NaN
240       NaN
Name: National accounts reference year, Length: 241, dtype: float64
___________________________
SNA price valuation
0         Value added at basic prices (VAB)
1         Value added at basic prices (VAB)
2      Value added at producer prices (VAP)
3         Value added at basic prices (VAB)
4                                       NaN
                       ...
236       Value added at basic prices (VAB)
237    Value added at producer prices (VAP)
238       Value added at basic prices (VAB)
239       Value added at basic prices (VAB)
240       Value added at basic prices (VAB)
Name: SNA price valuation, Length: 241, dtype: object
___________________________
Lending category
0        NaN
1        IDA
2       IBRD
3       IBRD
4        NaN
       ...
236      IDA
237      IDA
238     IBRD
239      IDA
240    Blend
Name: Lending category, Length: 241, dtype: object
___________________________
Other groups
0       NaN
1      HIPC
2       NaN
3       NaN
4       NaN
       ...
236     NaN
237     NaN
238     NaN
239    HIPC
240     NaN
Name: Other groups, Length: 241, dtype: object
___________________________
System of National Accounts
0      Country uses the 1993 System of National Accou...
1      Country uses the 1993 System of National Accou...
2      Country uses the 1993 System of National Accou...
3      Country uses the 1993 System of National Accou...
4      Country uses the 1968 System of National Accou...
                             ...
236    Country uses the 1993 System of National Accou...
237    Country uses the 1993 System of National Accou...
238    Country uses the 1993 System of National Accou...
239    Country uses the 1968 System of National Accou...
240    Country uses the 1993 System of National Accou...
Name: System of National Accounts, Length: 241, dtype: object
___________________________
Alternative conversion factor
0             NaN
1             NaN
2         1991â€“96
3             NaN
4             NaN
          ...
236           NaN
237       1990â€“96
238           NaN
239       1990â€“92
240    1991, 1998
Name: Alternative conversion factor, Length: 241, dtype: object
___________________________
PPP survey year
0          NaN
1          NaN
2         2005
3      Rolling
4          NaN
        ...
236        NaN
237       2005
238       2005
239       2005
240       2005
Name: PPP survey year, Length: 241, dtype: object
___________________________
Balance of Payments Manual in use
0      IMF Balance of Payments Manual, 6th edition.
1                                               NaN
2      IMF Balance of Payments Manual, 6th edition.
3      IMF Balance of Payments Manual, 6th edition.
4                                               NaN
                           ...
236                                             NaN
237    IMF Balance of Payments Manual, 6th edition.
238    IMF Balance of Payments Manual, 6th edition.
239    IMF Balance of Payments Manual, 6th edition.
240    IMF Balance of Payments Manual, 6th edition.
Name: Balance of Payments Manual in use, Length: 241, dtype: object
___________________________
External debt Reporting status
0              NaN
1           Actual
2           Actual
3           Actual
4              NaN
          ...
236         Actual
237         Actual
238    Preliminary
239         Actual
240         Actual
Name: External debt Reporting status, Length: 241, dtype: object
___________________________
System of trade
0      Special trade system
1      General trade system
2      Special trade system
3      General trade system
4      Special trade system
               ...
236                     NaN
237    Special trade system
238    General trade system
239    Special trade system
240    General trade system
Name: System of trade, Length: 241, dtype: object
___________________________
Government Accounting concept
0                                  NaN
1      Consolidated central government
2         Budgetary central government
3         Budgetary central government
4                                  NaN
                    ...
236                                NaN
237       Budgetary central government
238    Consolidated central government
239       Budgetary central government
240    Consolidated central government
Name: Government Accounting concept, Length: 241, dtype: object
___________________________
IMF data dissemination standard
0                                             NaN
1        General Data Dissemination System (GDDS)
2        General Data Dissemination System (GDDS)
3        General Data Dissemination System (GDDS)
4                                             NaN
                          ...
236      General Data Dissemination System (GDDS)
237      General Data Dissemination System (GDDS)
238    Special Data Dissemination Standard (SDDS)
239      General Data Dissemination System (GDDS)
240      General Data Dissemination System (GDDS)
Name: IMF data dissemination standard, Length: 241, dtype: object
___________________________
Latest population census
0                                                   2010
1                                                   1979
2                                                   1970
3                                                   2011
4      2011. Population figures compiled from adminis...
                             ...
236                                                 2011
237                                                 2004
238                                                 2011
239                                                 2010
240                                                 2012
Name: Latest population census, Length: 241, dtype: object
___________________________
Latest household survey
0                                                    NaN
1      Multiple Indicator Cluster Survey (MICS), 2010/11
2                   Malaria Indicator Survey (MIS), 2011
3           Demographic and Health Survey (DHS), 2008/09
4                                                    NaN
                             ...
236                                                  NaN
237            Demographic and Health Survey (DHS), 2013
238    Demographic and Health Survey (DHS), 2003; Wor...
239            Demographic and Health Survey (DHS), 2013
240         Demographic and Health Survey (DHS), 2010/11
Name: Latest household survey, Length: 241, dtype: object
___________________________
Source of most recent Income and expenditure data
0                                                    NaN
1                Integrated household survey (IHS), 2008
2                Integrated household survey (IHS), 2008
3      Living Standards Measurement Study Survey (LSM...
4                                                    NaN
                             ...
236              Integrated household survey (IHS), 2011
237       Expenditure survey/budget survey (ES/BS), 2005
238       Expenditure survey/budget survey (ES/BS), 2010
239              Integrated household survey (IHS), 2010
240           Integrated household survey (IHS), 2011/12
Name: Source of most recent Income and expenditure data, Length: 241, dtype: object
___________________________
Vital registration complete
0      Yes
1      NaN
2      NaN
3      Yes
4      Yes
      ...
236    NaN
237    NaN
238    NaN
239    NaN
240    NaN
Name: Vital registration complete, Length: 241, dtype: object
___________________________
Latest agricultural census
0                                       NaN
1                                   2013/14
2                                      2015
3                                      2012
4                                       NaN
                       ...
236                                     NaN
237                                     NaN
238                                    2007
239    2010. Population and Housing Census.
240                                     NaN
Name: Latest agricultural census, Length: 241, dtype: object
___________________________
Latest industrial data
0         NaN
1         NaN
2         NaN
3      2010.0
4         NaN
        ...
236       NaN
237    2006.0
238    2010.0
239       NaN
240       NaN
Name: Latest industrial data, Length: 241, dtype: float64
___________________________
Latest trade data
0      2012.0
1      2012.0
2         NaN
3      2012.0
4      2006.0
        ...
236       NaN
237    2012.0
238    2012.0
239    2011.0
240    2012.0
Name: Latest trade data, Length: 241, dtype: float64
___________________________
Latest water withdrawal data
0       NaN
1      2000
2      2005
3      2006
4       NaN
       ...
236     NaN
237    2005
238    2000
239    2002
240    2002
Name: Latest water withdrawal data, Length: 241, dtype: object
___________________________
Unnamed: 31
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
236   NaN
237   NaN
238   NaN
239   NaN
240   NaN
Name: Unnamed: 31, Length: 241, dtype: float64

In [94]:
data.iloc[:,1].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'The Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland',
       'Channel Islands', 'Chile', 'China', "CÃ´te d'Ivoire", 'Cameroon',
       'Dem. Rep. Congo', 'Congo', 'Colombia', 'Comoros', 'Cabo Verde',
       'Costa Rica', 'Cuba', 'CuraÃ§ao', 'Cayman Islands', 'Cyprus',
       'Czech Republic', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (developing only)',
       'East Asia & Pacific (all income levels)',
       'Europe & Central Asia (developing only)',
       'Europe & Central Asia (all income levels)', 'Ecuador', 'Egypt',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Finland', 'Fiji', 'France', 'Faeroe Islands',
       'Micronesia', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana',
       'Gibraltar', 'Guinea', 'The Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland',
       'Iran', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan',
       'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia',
       'Kiribati', 'St. Kitts and Nevis', 'Korea', 'Kuwait',
       'Latin America & Caribbean (developing only)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean (all income levels)',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Macao SAR, China', 'St. Martin (French part)',
       'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives',
       'Middle East & North Africa (all income levels)', 'Mexico',
       'Marshall Islands', 'Middle income', 'Macedonia', 'Mali', 'Malta',
       'Myanmar', 'Middle East & North Africa (developing only)',
       'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America',
       'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand',
       'OECD members', 'Oman', 'Pakistan', 'Panama', 'Peru',
       'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       'Puerto Rico', "Dem. People's Rep. Korea", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'French Polynesia', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan',
       'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone',
       'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (developing only)', 'South Sudan',
       'Sub-Saharan Africa (all income levels)', 'SÃ£o TomÃ© and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay',
       'United States', 'Uzbekistan', 'St. Vincent and the Grenadines',
       'Venezuela', 'Virgin Islands', 'Vietnam', 'Vanuatu', 'World',
       'Samoa', 'Kosovo', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [95]:
# Stocker les noms de variables dont le taux de valeurs manquantes est > Ã  X %

X = 0.8

columnsNull = []
columnsToKeep = []

for ii in data.columns : 
    print("----")
    print(ii)
    print(sum(data[ii].isnull())/len(data[ii]))
    if sum(data[ii].isnull())/len(data[ii]) > X : 
        columnsNull.append(ii)
    else :
        columnsToKeep.append(ii)

----
Country Code
0.0
----
Short Name
0.0
----
Table Name
0.0
----
Long Name
0.0
----
2-alpha code
0.012448132780082987
----
Currency Unit
0.1078838174273859
----
Special Notes
0.3983402489626556
----
Region
0.11203319502074689
----
Income Group
0.11203319502074689
----
WB-2 code
0.004149377593360996
----
National accounts base year
0.14937759336099585
----
National accounts reference year
0.8672199170124482
----
SNA price valuation
0.1825726141078838
----
Lending category
0.4024896265560166
----
Other groups
0.7593360995850622
----
System of National Accounts
0.1078838174273859
----
Alternative conversion factor
0.8049792531120332
----
PPP survey year
0.3983402489626556
----
Balance of Payments Manual in use
0.24896265560165975
----
External debt Reporting status
0.4854771784232365
----
System of trade
0.17012448132780084
----
Government Accounting concept
0.33195020746887965
----
IMF data dissemination standard
0.24896265560165975
----
Latest population census
0.11618257261410789
----
Latest household survey
0.4149377593360996
----
Source of most recent Income and expenditure data
0.3360995850622407
----
Vital registration complete
0.5394190871369294
----
Latest agricultural census
0.4107883817427386
----
Latest industrial data
0.5560165975103735
----
Latest trade data
0.23236514522821577
----
Latest water withdrawal data
0.2572614107883817
----
Unnamed: 31
1.0

In [96]:
columnsToKeep

['Country Code',
 'Short Name',
 'Table Name',
 'Long Name',
 '2-alpha code',
 'Currency Unit',
 'Special Notes',
 'Region',
 'Income Group',
 'WB-2 code',
 'National accounts base year',
 'SNA price valuation',
 'Lending category',
 'Other groups',
 'System of National Accounts',
 'PPP survey year',
 'Balance of Payments Manual in use',
 'External debt Reporting status',
 'System of trade',
 'Government Accounting concept',
 'IMF data dissemination standard',
 'Latest population census',
 'Latest household survey',
 'Source of most recent Income and expenditure data',
 'Vital registration complete',
 'Latest agricultural census',
 'Latest industrial data',
 'Latest trade data',
 'Latest water withdrawal data']